BASE_URL=https://base-sepolia.easscan.org/attestations/forSchema/0x5ee00c7a6606190e090ea17749ec77fe23338387c23c0643c4251380f37eebc3?_data=routes%2F__boundary%2Fattestations%2FforSchema%2F%24schemaUID&limit=50
BASE_URL_PRETRUST=https://base-sepolia.easscan.org/attestations/forSchema/0x9075dee7661b8b445a2f0caa3fc96223b8cc2593c796c414aed93f43d022b0f9?_data=routes%2F__boundary%2Fattestations%2FforSchema%2F%24schemaUID&limit=50